.main-container input[type=text] {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: .3%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #C0C0C0;
}

.button {
    margin-top: 2%;
    float: left;
    width: 10%;
    padding: 10px;
    background: #000099;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.img-size{
   width:30%;
   height:30%;
}

.img-layout{
   margin-top: 1%;
   margin-left: 20%;
   margin-right:10%;
   float: left;
}

.img-position{
float: left;
width: 30%;
margin-bottom: 2%;
}

h1{
  color:#000099;
  margin-top: 5%;
  margin-left: 30%;
  margin-right:10%;
  align:"center" !important;
  font-family: Arial;
}

h2{
  color:#000099;
  margin-top: 10%;
  margin-right:10%;
  font-family: Arial;
  margin-left: 20%;
}

p{
  color:#696969;
  font-family: Arial;
  width: 100%;
}

.container{
      margin-top: 1%;
      margin-left: 20%;
      margin-right:1%;
      float: left;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap:1em;
      grid-row-gap:1em;
      max-width: 59%;
    }
     .container > div{
      background: #eee;
      padding: 1em;
    }
    /*.container > div:nth-child(odd){
      background: #ddd;
    } */
